/* Example of using CSS variables */
:root {
    --primary-color: #7064e5;
    --secondary-color: #224957;
    --nav-padding: 5px;
    --nav-padding-end: 80px;
    --nav-shadow: rgba(17, 17, 26, 0.05) 0px 15px 20px;
    --nav-font-size: x-large;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    padding: var(--nav-padding);
    padding-inline-end: var(--nav-padding-end);
    box-shadow: var(--nav-shadow);
  }
  
  .nav span {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav span:last-child {
    font-size: var(--nav-font-size);
    gap: 50px;
  }
  
  .nav span:last-child a {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: 600;
    color: var(--primary-color);
    transition: 0.7s;
  }
  
  .nav span img {
    height: 30px;
    width: 30px;
  }
  
  .nav span:first-child img {
    height: 80px;
    width: 80px;
    object-fit: contain;
  }
  
  .nav span:first-child {
    gap: 2px;
    width: fit-content;
    padding-inline-start: 50px;
  }
  
  .nav span a:hover {
    color: var(--secondary-color);
  }
  